/* Estilos referentes a página Angular do site */

/* Definindo atributos globais */
*{
    font-family: var(--fonte-destaque);
}

html {
    background-color: white;
}

/* Estilo em cascada do header */
.header__angular {
    background-color: var(--angular-secondary-color);
    border: none;
}

/* Estilos das sections */
.section__about-angular, .section__angularjs{
    background-color: var(--angular-secondary-color);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center ;
    padding: 2.5em 0;
}

.angular-text {
    font-size: 1.4em;
}

.section__angular-timeline {
    background-color: var(--angular-terciary-color);
    min-height: 80vh;
}

.text-p, .content-text, .section__about-angular__principal-text {
    font-weight: 500;
    color: var(--text-color-default);
    padding: 1rem 1rem 0.3rem 1rem;
    max-width: 60vw;
    text-align: justify;
}

.section__about-angular__principal-text {
    font-weight: 600;
    font-size: 2.5em;
    text-align: start;

}

.content-text {
    margin: 0 5em;
    padding: 0;
}

.angular-information {
    font-weight: 500;
    font-size: 2em;
    text-align: center;
    color: var(--text-color-default);

    padding: 1em;
}

.about-angular__angular-logo img {
    max-width: 100%;
}

.about-angular__angularjs img {
    max-width: 75%;
}

/* Inicio dos estilos referente a tabela */

.angular-table {
   text-align: justify;
   color: var(--angular-terciary-color);
   border-collapse: collapse;

   background-color: var(--angular-primary-color);
}

.angular-table-version__width {
    width: 5%;
}

.angular-table-date__width {
    width: 15%;
}

.angular-table-description__width {
    width: 50%;
}

.table-angular {
    padding: 0 10em;
}

.angular-table td {
    padding: 1.5em 1em;
    border: none;
}

.angular-table th {
    padding: 6px 0;
    border: none;
}

.angular-table tr:nth-child(odd) {
    background-color: var(--angular-primary-color); /* Cor de fundo para linhas ímpares */
    color: var(--text-color-default);
    font-weight: 600;
}
  
.angular-table tr:nth-child(even) {
    background-color: var(--angular-terciary-color); /* Cor de fundo para linhas pares */
    color: var(--text-color-default);
}

.angular-table__thead {
    color: var(--text-color-default);
    text-align: center;
    padding: 2em;
}

/* FOOTER */
footer {
    background-color: #1259b4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    min-height: 7vh;
    padding: 1rem 3rem 1rem 3rem;
}

/* BUTTON FOOTER */
.voltaraotopo {
    background-color: #303030;
    border: none;
    border-radius: 2rem 2rem 2rem 2rem;
    min-width: 15%;
    text-align: center;
    padding: 1rem;

    color: #FFFF;
    font-family: var(--fonte-destaque);
    font-size: 2rem;
    font-weight: 600;
}

.voltaraotopo:hover {
    cursor: pointer;
    transform: translateY(-.3rem);
    transition: 0.5s;
    border: 1px solid;
}

.titulo-principal {
    text-align: center;
}   
