@media screen and (max-width: 850px) {

.header__angular {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header__angular > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 0;
 }

.header__angular > #header-titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.content-text {
    max-width: 100vw;
    margin: 0 2em;
    padding: 0;
}

.section__about-angular {
    padding: 2em 0;
}

.about-angular__angularjs > img {
    max-width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-angular {
    display: none;
}

.timeline-mobile-first {
    display: block;
}

.section__angularjs {
    padding: 2em 0;
    max-width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.about-angular__angularjs {
    padding: 0 ;
}

.class-footer > #todososdireitos {
    text-align: center;
}

.class-footer > #todososdireitos > h3 {
    font-size: .5em;
    min-width: 100%;
}

.section__about-angular {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer {
    justify-content: center;
}

#todososdireitos {
    max-width: 100%;
}

.voltaraotopo {
    display: none;
}
}

@media screen and (max-width: 1200px) {

#todososdireitos {
    max-width: 30%;
}

}

@media screen and (max-width: 550px)  {
.header__angular > #header-titulo > h2{
    font-size: 1em;
 } 

 .header__angular > #header-titulo > a > h2{
   font-size: 1em;
} 
}