/* Estilos referentes a página React do site */

/* Definindo atributos globais */
*{
    font-family: var(--fonte-destaque);
}

html, body {
    background-color: white;
}


.header__react, footer{
    background-color: var(--react-terciary-color);
}

footer {
    min-height: 7vh;
}

.link-proximo:hover {
    color: var(--react-primary-color);
}

/* Estilos referente à primeira section da página */
.section__introducao-react {
    background-color: var(--react-secondary-color);
    max-height: 70vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5em;
}

.section__como-usar-react {
    background-color: var(--react-primary-color);

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 5em;
}

.text-p, .introducao-react__content-text {
    font-weight: 500;
    text-align: justify;
    color: var(--text-color-default);
    max-width: 50vw;
}

.react-text {
    font-size: 1.4em;
    margin: 1em 0;
} 

.introducao-react__content-text > h1 {
    font-size: 2.5em;
    max-width: 50vw;
}

.virtualdom-image {
    max-width: 100%;
    border-radius: 20px;    
    padding: 12em 0 0 3rem ;
}

.react-image {
    max-width: 50%;
    margin: 0 auto;
}

.imagem-react{
    margin: 0 auto;
}

.imagem-react > img{
    margin: 1em;
    width: 100%;
    height: 100%;
}

.virtualdom {
    border-radius: 15px;
}

.lista-react {
    list-style: circle;
}

.destaque-lista {
    font-weight: bolder;
    font-size: 1.05em;
}

.lista-react > li {
    margin: 1em;
}

/* BUTTON FOOTER */
.voltaraotopo {
    background-color: #23272F;
    border: none;
    border-radius: 2rem 2rem 2rem 2rem;
    min-width: 15%;
    text-align: center;
    padding: 1rem;

    color: #FFFF;
    font-family: var(--fonte-destaque);
    font-size: 2rem;
    font-weight: 600;
}

.voltaraotopo:hover {
    cursor: pointer;
    transform: translateY(-.3rem);
    transition: 0.5s;
    border: 1px solid;
}

.titulo-principal {
    text-align: center;
}
