body {
    font-size: 100%;
    background: #60238F;
    background-size: 100%;
}
/* Cabecalho */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3E165C;
    padding: 0.6rem 2.2rem 0.5rem 2.2rem;
}

#header-titulo {
    display: flex;
    flex-direction: row;
}


header h2 {
    font-family: var(--fonte-destaque);
    font-weight: 600;
    font-size: 1.5rem;
    color: #FFFF;
}

nav a {
    font-family: var(--fonte-destaque);
    font-size: 1.5rem;
    color: #FFFF;
    padding: 0.5rem;
}

nav a:hover {
    cursor: pointer;
    color: #24063C;
    transition: 0.2s;
}

/* home-titulo */
#home-titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 2rem 2rem 2rem;
    background-color: #3E165C;

    min-height: 25vh;
}

#home-titulo h1 {
    font-family: var(--fonte-destaque);
    font-size: 3.5rem;
    font-weight: 100;
    color: #FFFF;
}

/* Counteudo home */
.section-home {
    display: flex;
    flex-direction: column;
}

/* Frameworks, o que são?*/
#section-home_frameworksoquesao h2 {
    color: #FFFF;
    font-family: var(--fonte-destaque);
    font-weight: 600;
    padding: 0.3rem 1rem 0.3rem 1rem;
    font-size: 2.5em;

}


#section-home_frameworksoquesao p {
    font-family: var(--fonte-destaque);
    background-color: #60238F;
    font-size: 1.4em;
    color: #FFFF;
    text-align: justify;

    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0 0 1rem 1rem;
}

#section-home_frameworksoquesao {
    max-width: 50%;
    margin: 1rem 1rem 3rem 3rem;    
}


/*Biblioteca frameworks*/
#section-home_bibliotecaframeworks h2 {
    color: #FFFF;
    font-family: var(--fonte-destaque);
    font-weight: 600;
    font-size: 2.5em;
    padding: 0.3rem 1rem 0.3rem 1rem;
    
    border-radius: 1rem 1rem 0 0;
}

#section-home_bibliotecaframeworks p {
    font-family: var(--fonte-destaque);
    background-color: #60238F;
    font-size: 1.4em;
    color: #FFFF;
    text-align: justify;

    padding: 1rem;
}

#section-home_bibliotecaframeworks {
    max-width: 50%;
    margin: 1rem 1rem 3.5rem 3rem;
}
    
/* Conteudo frameworks*/
#section-frameworks_cabecalho {
    background-color: #60238F;
    border-bottom: 3px inset #1d0a2c;
    border-radius: 1rem 1rem 0 0;

    padding: 0.5rem 1rem 0.5rem 1rem;
}

#section-frameworks_cabecalho h3 {
    color: #FFFF;
    font-family: var(--fonte-destaque);
    font-size: 1.7rem;
    text-align: center;
}


#section-frameworks_linkframeworks {
    background-color: #24063C;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 70vh;
}

#section-frameworks_linkframeworks #reactjs:hover, #angular:hover, #vuejs:hover { /* Efeito nas tres Divs */
    transform: translateY(-.3rem);
    transition: 0.5s;
}

/* React.JS */
#reactjs_link {
    background-color: #007B74;
    border-radius: 20%;
}

#reactjs_link a img{
    min-width: 40vh;
    min-height: 40vh;
    justify-content: center;
    padding: 2rem;
}

#reactjs_link img {
    width: 32vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reactjs_desc {
    margin: 1rem;
}

#reactjs_desc a {
    font-size: 2.5rem;
    font-weight: 600;
    font-family: var(--fonte-destaque);
    color: #007B74;
}

/* Angular */
#angular_link {
    background-color: #CA7D7D;
    border-radius: 20%;
}

#angular_link a img {
    min-width: 38.5vh;
    min-height: 38.5vh;
    justify-content: center;
    padding: 2rem;
    border-radius: 20%;
}

#angular_link img {
    width: 10vh;
    display: flex;
}

#angular_desc {
    margin: 1rem;
}

#angular_desc a {
    font-size: 2.5rem;
    font-weight: 600;
    font-family: var(--fonte-destaque);
    color: #D41B1B;
}

/* Vue.JS */
#section-frameworks_linkframeworks_vuejs {
    background-color: #9FDCAD;
    border-radius: 20%;
}


#section-frameworks_linkframeworks_vuejs a img {
    min-width: 40vh;
    min-height: 40vh;
    justify-content: center;
    padding: 2rem;

}

#section-frameworks_linkframeworks_vuejs img {
    width: 28vh;
    display: flex;
} 

#vuejs_desc {
    margin: 1rem;
}

#vuejs_desc a {
    font-size: 2.5rem;
    font-weight: 600;
    font-family: var(--fonte-destaque);
    color: #007B74;
}

/* Rodapé */
footer {
    background-color: #3E165C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    min-height: 7vh;
    padding: 1rem 3rem 1rem 3rem;
}

#todososdireitos {
    max-width: 20%;

    font-size: 1.5rem;
    font-family: var(--fonte-destaque);
    color: #FFFF;
}

#todososdireitos h3 {
    text-align: center;
}

#todososdireitos a{
    color: #FFFF;
}

#todososdireitos a:hover{
    color: blue;
    transition: 0.2s;
}

/* Button */
.voltaraotopo {
    background-color: #24063C;
    border: none;
    border-radius: 2rem 2rem 2rem 2rem;
    min-width: 15%;
    text-align: center;
    padding: 1rem;

    color: #FFFF;
    font-family: var(--fonte-destaque);
    font-size: 2rem;
    font-weight: 600;
}

.voltaraotopo:hover {
    cursor: pointer;
    transform: translateY(-.3rem);
    transition: 0.5s;
    border: 1px solid;
}

.titulo-principal {
    text-align: center;
}