/* Fonte Ubuntu e ubuntu condesend */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu:ital,wght@0,300;1,300&display=swap');

/* Variaveis */
:root {
    --fonte-corpo: 'Ubuntu Condensed', sans-serif;
    --fonte-destaque: 'Ubuntu', sans-serif;


    --text-color-default: #FFFFFF;
    --react-primary-color: #0f607a;
    --react-secondary-color: #23272F;
    --react-terciary-color: #1B1D24;

    --angular-primary-color: #c3002f;
    --angular-secondary-color: #1259b4;
    --angular-terciary-color: #303030;

    --vue-primary-color: #42b983;
    --vue-secondary-color: #FFFFFF;
    --vue-terciary-color: #34495e;
}

/* Configuracoes gerais da pagina */
* {
    font-family: var(--fonte-destaque);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
};

html {
    height: 100%;
    background-color: #FFFFFF;  
    background-size: 100%;
}